@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: "#E9FFEE";
}

i {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 10px 20px;
}

.color {
    color: #099522;
}

.bg {
    background-color: #099522;
}
.bglite {
    background-color: #EBFEEF;
}

.btn {
    background-color: #099522;
    color: white;
    border: 0;
}

.boutline {
    border: #099522 1px solid;
}


@media screen and (min-width: 1024px) {
    .hero {
        align-items: center;
    }
  }
  

.email::placeholder {
    color: white;
}